<h3>All Bands</h3>

<% @bands.each do |band| %>

<ul>
  <li> <a href="/bands/<%= band.id %>"><%= band.name %></a>
    <form action="/bands/<%= band.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" id="band_id" name="band_id" value="<%= band.id %>">
      <button class="btn btn-danger btn-sm" type="submit">Delete Band</button>
    </form>
  </li>

  <form action="/bands/<%= band.id %>/update" method="post"></a>
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="band_name">
    <button name="submit">Update Band Name</button>
  </form>
</ul>
<% end %>



<h3>Add a new band</h3>
<form action="/bands/new" method="post">
  <label for="band_name">Band Name:</label>
  <input type="text" name="band_name" placeholder="example: The Sundays">
  <button name="submit">Add Your Band</button>
</form>
