<h3>All Venues</h3>

<% @venues.each do |venue| %>

  <ul>
    <li> <a href="/venues/<%= venue.id %>"><%= venue.name %></a>
      <form action="/venues/<%= venue.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" id="venue_id" name="venue_id" value="<%= venue.id %>">
        <button class="btn btn-danger btn-sm" type="submit">Delete Venue</button>
      </form>

      <form action="/venues/<%= venue.id %>/update" method="post"></a>
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="venue_name">
        <button name="submit">Update Venue Name</button>
      </form>

    </li>
  </ul>
<% end %>


<h3>Add a new venues</h3>
<form action="/venues/new" method="post">
  <label for="venue_name">Venue Name:</label>
  <input type="text" name="venue_name" placeholder="example: CBGB's">
  <button name="submit">Add Your Venue</button>
</form>
